<!DOCTYPE HTML>

<html>
  <head>
    <title>Things&Things</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/customers/script.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/customers">Things&Things</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/customers" aria-disabled="true">Customers</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Employees</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">About us</a>
            </li>
          </ul>
          <form class="d-flex">
            <% let placeholder = "Search"; if (query != "") {placeholder = query} %>
            <input id="search" class="form-control me-2 bg-dark text-white" type="search" placeholder=<%= placeholder %> aria-label="Search">
            <button class="btn btn-outline-success" onclick="searchContent();">Search</button>
          </form>
        </div>
      </div>
    </nav>
  
    <div class="card">
      <div class="card-body">
        <% if (rows.length > 0) { %>
          <div class="alert alert-success" role="alert">
            Customers found: <%= rows.length %>
          </div>
        <% } else { %>
          <div class="alert alert-warning" role="alert">
            No '<%= query %>' found.
          </div>
        <% } %>
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Surname</th>
                <th scope="col">Email</th>
                <th scope="col">Date of Birth</th>
                <th scope="col">Phone Number</th>
              </tr>
            </thead>
          
            <tbody>
              <% rows.forEach(function(customer) { %>
                <tr>
                  <td><%= customer.name %></td>
                  <td><%= customer.surname %></td>
                  <td><%= customer.email %></td>
                  <td><%= customer.date_of_birth %></td>
                  <td><%= customer.phone_number %></td>
                </tr>
              <% }); %>
            </tbody>    
          </table>
      </div>
    </div>

  <footer class="py-3 my-4 fixed-bottom ">
    <p class="text-center text-muted">© 2023 Things&Things, Inc</p>
  </footer>

  </body>
</html>
